<main class="mt-3">
    <div class="jumbotron mt-3 bg-white">
        <h1 class="text-panda">Hello, @Model.Username<span>!</span></h1>
        <hr class="bg-panda hr-2" />
        <div class="row">
            <div class="col-4">
                <h3 class="text-center">Pending</h3>
                <div class="border border-panda">
                    <h4 class="p-3">
                        item name
                        <a href="/Packages/Details" class="btn btn-dark">Details</a>
                    </h4>
                </div>
            </div>
            <div class="col-4">
                <h3 class="text-center">Shipped</h3>
                <div class="border border-panda">
                    <h4 class="p-3">
                        item name
                        <a href="/Packages/Details" class="btn btn-dark justify-content-end">Details</a>
                    </h4>
                </div>
            </div>
            <div class="col-4">
                <h3 class="text-center">Delivered</h3>
                <div class="border border-panda">
                    <h4 class="p-3">
                        item name
                        <a href="/Packages/Details" class="btn btn-dark justify-content-end">Acquire</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</main>