@model Competitor

<form class="competitor-create" asp-action="Edit" asp-route-id="@Model.Id" method="post">
    <div class="create-header">
        Edit Competitor
    </div>
    <div class="create-competitoritem">
        <div class="create-competitoritem-label">Name</div>
        <input type="text" class="create-competitoritem-content" name="name" value=@Model.Name required />
    </div>
    <div class="create-competitoritem">
        <div class="create-competitoritem-label">Age</div>
        <input type="number" min="1" step="1" rows="3" class="create-competitoritem-content" name="age" value=@Model.Age required />
    </div>
    <div class="create-competitoritem">
        <div class="create-competitoritem-label">Team</div>
        <input class="create-competitoritem-content" name="team" value=@Model.Team required />
    </div>
    <div class="create-competitoritem">
        <div class="create-competitoritem-label">Category</div>
        <select class="create-competitoritem-content" name="category" id="category">
            @if (Model.Category == "Superbike and Senior TT Races")
            {
                <option selected value="Superbike and Senior TT Races">Superbike and Senior TT Races</option>
                <option value="Sidecar TT Races">Sidecar TT Races</option>
                <option value="Superstock TT Race">Superstock TT Race</option>
            }

            @if (Model.Category == "Sidecar TT Races")
            {
                <option value="Superbike and Senior TT Races">Superbike and Senior TT Races</option>
                <option selected value="Sidecar TT Races">Sidecar TT Races</option>
                <option value="Superstock TT Race">Superstock TT Race</option>
            }

            @if (Model.Category == "Superstock TT Race")
            {
                <option value="Superbike and Senior TT Races">Superbike and Senior TT Races</option>
                <option value="Sidecar TT Races">Sidecar TT Races</option>
                <option selected value="Superstock TT Race">Superstock TT Race</option>
            }
        </select>
    </div>

    <div class="create-button-holder">
        <button type="submit" class="button">Edit Competitor</button>
        <a type="button" asp-controller="competitor" asp-action="Index" class="button">Back</a>
    </div>
</form>